.Rproj.user
.Rhistory
.RData
.Ruserdata
*.fst
Journal-manuscript/Journal-manuscript_cache
Journal-manuscript/Journal-manuscript_files
Journal-manuscript/data-prep/data-raw/intermed/r5_graph
Journal-manuscript/data-prep/data-raw/intermed/df
Presentations/CIT-Presentation_files/
Presentations/NECTAR-Coimbra-Presentation_files/
TRB/TRB-Poster_cache
TRB/TRB-Poster_files