.Rproj.user
.Rhistory
.RData
.Ruserdata
*.fst
*.fst
*.fst
*.fst
TRB-manuscript/TRB-manuscript_cache
TRB-manuscript/TRB-manuscript_files
TRB-manuscript/data-prep/data-raw/intermed/r5_graph
TRB-manuscript/data-prep/data-raw/intermed/df
TRB-Poster_cache/
TRB-Poster_files/
CIT-Presentation_cache/
CIT-Presentation_files/
NECTAR-Coimbra-Presentation_files/
Extras/